@import "/src/styles/partials/variables";
@import "/src/styles/partials/mixins";
@import "/src/styles/partials/global";
@import "/src/styles/partials/typography";

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__header {
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        font-size: 1.7rem;
        padding-right: 10rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__input {
            display: flex;
            flex-direction: column;

            &__name-label {
                font-size: 1.2rem;
            }

            &__name {
                width: 335px;
                border: 2px solid $Kombat-DarkBlue;
                outline: none;
                border-radius: 5px;
                background-color: $Kombat-BackgroundColor;
                color: $Kombat-LightBlue;
                font-size: 1.2rem;
                font-family: inherit;

                &::placeholder {
                    color: $Kombat-LightBlue;
                }

                &:focus {
                    border: 2px solid $Kombat-Blue;
                    outline: none;
                }
                
            }
        }

        &__button {
            margin-top: 1rem;

            &__create {
                background-color: $Kombat-DarkBlue;
                width: 200px;
                height: 45px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                border: none;
                border-radius: 0.25rem;
                color: $Kombat-LightBlue;

                &:hover,
                &:focus {
                    background-color: $Kombat-Blue;
                    color: $Kombat-Beige;
                    outline: none;
                    cursor: pointer;
                }
            }

            &__cancel {
                margin-left: 1rem;
                width: 125px;
                height: 45px;
                font-size: 1.2rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $Kombat-DarkBlue;
                color: $Kombat-LightBlue;
                border-radius: 0.25rem;
                text-decoration: none;
        
                &:hover,
                &:focus {
                    background-color: $Kombat-Red;
                    color: $Kombat-Beige;
                    outline: none;
                }
            }
        }
    }
}