@import "/src/styles/partials/variables";
@import "/src/styles/partials/mixins";
@import "/src/styles/partials/global";
@import "/src/styles/partials/typography";

.timer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__msg {
        margin-top: 0rem;
    }

    &__timer{
        margin-top: 0;
        margin-left: 0.5rem;
    }
}