@import "/src/styles/partials/variables";
@import "/src/styles/partials/mixins";
@import "/src/styles/partials/global";
@import "/src/styles/partials/typography";

.text {
    color: $Kombat-LightBlue;
    font-size: 1.2rem;

    &__typed-correctly {
        color: $Kombat-Blue;
    }

    &__current {
        color: $Kombat-Beige;
        text-decoration: underline;
    }
}